<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exemplo watch!</title>

    <!-- css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="node_modules/angular-toastr/dist/angular-toastr.css">
    <link rel="stylesheet" href="app/style.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">
    <!-- fim css -->

    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-messages/angular-messages.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-aria/angular-aria.js"></script>
    <script src="node_modules/angular-material/angular-material.js"></script>
    <script src="node_modules/oclazyload/dist/ocLazyLoad.js"></script>

    <script src="app/config/pd-app.js"></script>

    <script src="app/service/alert.service.js"></script>
    <script src="app/filter/maiusculo.filter.js"></script>
    <script src="app/controller/index-watch.controller.js"></script>

</head>
<body ng-app="pdApp" >

<div class="row" ng-controller="IndexWatchController">
    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label">Digite uma cor</label>
            <input type="text" class="form-control"
                   ng-model="cor">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-3">
            <label class="control-label">Selecione uma cor</label>
            <select class="form-control"
                ng-model="minhaClasse">
                <option value="verde">Verde</option>
                <option value="azul">Azul</option>
                <option value="vermelho">Vermelho</option>
                <option value="laranja">Laranja</option>
            </select>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12"
             ng-class="minhaClasse"
             ng-style="styleDiv"></div>
    </div>
</div>
</body>
</html>